.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.errors{
  color: red;
  margin: 0 auto;
  font-size: .8rem;
}
.volDash-container *{
 
  /* border: 1px blue solid; */
  color: #0a3055;
}
.volDash h1, h2{
  font-family: 'Ubuntu', sans-serif;
}

.volDash h3, h4{
  font-family: 'Source Sans Pro', sans-serif;
}
.volDash-pickupCard{
  border: 1px solid black;
  display: flex;
}
.volDash-header{
  background: #d6f8ff;
  display: flex;
justify-content: flex-start;
}
.volDash-logo{
  height: 60px;
  width: 60px;
}

.volDash-userImage{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
  
}

.volDash-container button{
  background-color: white;
  margin: 5px;
  border: 1px darkgrey solid;
  border-radius: 5px;
  padding: 3px 5px;

}

.volDash-UserSection{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.volDash-UserClaimSection{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
